.button-center{
	text-align: center;
	margin: 0 30px;
	padding: 100px 70px;
	font-size: 80px;
}

#opener{
	text-align: center;
	margin: 0 30px;
	padding: 100px 70px;
	font-size: 80px;
}

h1{
	font-size: 200;
}
